/* Google fonts link */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');


/* General style */
*{
    margin: 0;
    padding: 0;
}

html, body{
    width: 100vw;

    overflow-x: hidden!important;
}

.container-fluid{
    width: 100vw;
    margin-right: 20px;
    margin-left: 20px;
}
/*****
** SECTION STYLING **
*****/
.section-title{
    font-size: 35px;
    margin: 30px;
    margin-left: 30px;
    display: inline-block;
    position: relative;
    padding-left: 37px;
    background-color: rgba(255, 255, 255, 0.6);
    border-radius: 5px;
    padding-bottom: 10px;
    padding-right: 10px;
}

.section-title .section-number{
    position: absolute;
    font-weight: 700;
    font-size: 16px;
    top: 0;
    left: 0;
    color: #333333;
}

.section-title .section-number::after{
    content: "";
    display: block;
    width: 3px;
    height: 38px;
    background: #000000;
    margin: 10px auto 0;
}

.section-number{
    color: #000;
}
.section-title .small-text{
    display: block;
    letter-spacing: 0.4em;
    font-size: 14px;
    color: #333333;
    font-weight: 700;
}
.section-title .big-text{
    letter-spacing: 0.03em;
    display: block;
    color: #000000;
    text-transform: uppercase;
}


/*****
** HOMEPAGE **
*****/

/* Header */
.header-section {
    width: 100%;
    min-height: 100%;
    position: fixed;
    background-size: cover;
    top: 0;
    left: 0;
    background-position: center;
    z-index: -99;
    animation: slideBackground 100s infinite;
}

.index-header-section{
    width: 100%;
    min-height: 100%;
    position: absolute;
    background-position: center;
    z-index: -99;
    animation: slideBackground 100s infinite;
}

#header-id{
    min-height: 61vh;
}

.nav-menu-item, .nav-item{
    font-size: 1.2em;
    font-weight: 500;
    color:#001F3F;
    text-decoration: none;
}

.nav-menu-item:hover, .nav-item:hover{
    font-size: 1.5em;
    font-weight: 600;
    color: #000;
    text-decoration: none;
}
.dropdown-item, #menu-items, .menu-items{
    font-size: 1.05em;
    font-weight: 400;
    color:#001F3F
}

.dropdown-item:hover, #menu-items:hover, .menu-items:hover{
    font-size: 1.10em;
    font-weight: 600;
    color:#000;
}

.booking{
color: red;
animation: heartbeat 2s infinite;
}

.booking:hover{
    color: rgb(222, 103, 70);
    }

@keyframes heartbeat {
    0% {
transform: scale(1)
    }
    50% {
transform: scale(1.1)
    }
    100% {
        transform: scale(1)
    }
}

@keyframes slideBackground {
    0% {
        background-image: url("../images/sky2.jpg");
    }
    33.33% {
        background-image: url("../images/sky.jpg");
    }
    66.66% {
        background-image: url("../images/sky3.jpg");
    }
    100% {
        background-image: url("../images/sky2.jpg");
    }
}

hr{
    margin-top: 0;
}

.slogan{
    text-transform: capitalize;
    text-align: center;
    background-color: rgba(255, 255, 255, 0.6);
    margin-top: 7%;
    color: #000;
    font-weight: 700;
    animation: heartbeat 4s infinite;
    letter-spacing: 0.1em;
}


.slogan span{
    color: #373dec;
}

/* Main Content */

/* Section 1: Reviews */

#reviews{
max-width: 700px;
margin: auto;

}
.hidden-text {
    opacity: 0;
}

.carousel-control-prev-icon {
    margin-right: 65px;
    filter: invert(100%);
}

.carousel-control-next-icon {
    
    filter: invert(100%);
    margin-left: 90px;
}

/* Section 2: Discover-places */
.container-wrapper{
    margin-right: 30px;
}

#discover-places{
    margin-top: 10%;
}

.place-container{
    transition: transform 0.3s ease;
    text-align: center;
}
.place-container:hover{
animation: heartbeat 2s ease;
}

/*Teams Section */
.teams-card{
    width: 600px;
    height: 700px;
    perspective: 1000px;
}

.card-img img{
    border-radius: 30px;
}

.card-img h3{
    text-align: center;
    background-color: rgba(255, 255, 255, 0.6);
    background-size: contain;
    text-decoration:none;
}

.card-inner{
    width: 100%;
    height: 100%;
    transition: transform 2s;
    transform-style: preserve-3d;
}

.teams-card:hover .card-inner{
    transform: rotateY(180deg);
}
.card-img, .card-details{
    width: 100%;
    height: 100%;
    position: absolute;
    backface-visibility: hidden; /* Hide backface to prevent flickering */
}

.card-details{
    transform: rotateY(180deg);
}
.team-details h2, .team-details p {
background-color: rgba(143, 140, 140, 0.9);
}
.team-details h2 {
    font-size: 3em;
font-weight: 500;
text-align: center;
color: #373dec;
text-decoration: none;
    }
.team-details p {
font-size: 1.5em;
font-weight: 300;
padding: 10px;
}
/* Footer */


.footer-background {
    background-color: rgba(255, 255, 255, 0.6);
}

.structure-wrap {
    padding-bottom: 100px;
}

.social-links {
    padding-bottom: 20px;
}

.social-links li a i {
    width: 32px;
    height: 32px;
    padding: 12px 0;
    border-radius: 50%;
    font-size: 13px;
    line-height: 7px;
    text-align: center;
    color: #fafafa;
    background: #8f8f8f;
    transition: all 0.35s ease-in-out;
    -moz-transition: all 0.35s ease-in-out;
    -webkit-transition: all 0.35s ease-in-out;
    -o-transition: all 0.35s ease-in-out;
}

.social-links li a i:hover {
    background: #e79a0b;
}

#team{
    margin-top: 12%;
    margin-bottom: 20%;
    margin-left: 2%;
margin-right: 2%
}

#footer-details {
    padding: 20px;
}

/*****
** BOOKING PAGE **
*****/
.booking-form{
    width: 50vw;
    margin: auto;
}

.booking-form h2{
    text-align: center;
    text-transform: uppercase;
    margin-bottom: 40px;
}

.form-label{
    font-size: 1.2em;
    font-weight: 500;
}

#form-layouts{
    background-color: rgba(88, 86, 60, 0.7);
    background-size: cover;
}
#form-layouts button{
margin-bottom: 10px;
}
.booking-form p{
    font-size: 2em;
}
/*****
** CONTACT US PAGE **
*****/
/* Form */
#contact-us {
    background-color: rgba(60, 60, 60, 0.6);
    padding: 30px 50px;
    padding: 20px 10% 0 10%;
    flex-grow: 1;
}

#contact-us>h1 {
    color: #fafafa;
    margin-bottom: 20px;
}

#contact-us>p {
font-weight: bold
;}

.text-input {
    background: transparent;
    color: #fafafa;
    width: 100%;
    height: 25px;
    margin: 5px 0 20px 0;
    border: 1px solid #fafafa;
    border-radius: 2px;
    padding: 0 5px;
}

.join-button {
    margin-top: 20px;
    margin-bottom: 20px;
    border-radius: 10px;
    padding: 10px 20px;
    font-size: 100%;
    background-color: #78787a;
    color: #fafafa;
}

#contact-us label{
    font-size: 1.5em;
    color: #fafafa;
}

/*****
** ABOUT PAGE **
*****/

.about-card{
    background-color: hsla(210, 1%, 30%, 1);
}
#about-us {
    padding: 50px 40px;
    max-width: 60%;
    margin:auto;
  }
  
  /* Style the heading */


  #about-us h2 {
    font-size: 28px; 
    margin-top: 20px;
    margin-bottom: 20px;
    text-align: center;
    text-decoration: underline;
    color: #000;
  }
  /* Style the paragraphs */
  #about-us p {
    font-size: 20px; 
    line-height: 1.8; 
    margin-bottom: 20px;
    color: white;
    font-weight: 600;
  }


/*****
** DISCOVER PLACES PAGE **
*****/
.active-slide-indicator{
    display: inline-block;
}

.active-slide-indicator span{
    width: 10px;
    height: 10px;
    background-color: white;
    border: 1px solid black;
    border-radius: 50%;
    margin: 0 5px;
    display: inline-block;
}

.active-slide-indicator span.active{
    background-color: #000;
}

/*****
** PLAN AND PRICING PAGE **
*****/

.platinumcard-text {
    color: black; 
}

.plancard-background {
    background-color: rgb(205, 225, 239);
}

.card-header {
    font-weight: bold;
}

#plans {
    background: rgba(255, 255, 255, 0.85); /* Semi-transparent background so it looks good with hero image */
    border-radius: 8px; /* Rounds corners */
    width: 90%; 
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); /* Received help from StackOverFlow to solve centering issue */
}
    .card-header {
        background-color: #054085;
        color: white;
    }

    .card {
        margin-bottom: 20px; /* Adds space between cards */
    }


/*****
** REVIEWS PAGE **
*****/

.reviews-text {
    margin-bottom: 20px;
}

.card-title {
    font-weight: bold;
    text-decoration: underline ;
}

.customer-title {
    color: rgb(20, 85, 39);
    font-weight: bold;
    text-decoration: underline;
}

.card-background {
    background-color: rgba(102, 234, 236, 0.633);
    border-radius: 5px;
}

/*****
** TRAVEL TIME PAGE **
*****/



/*****
** TRAVEL TIPS PAGE **
*****/



/*****
** MEDIA QUERIES **
*****/

@media (max-width: 768px) {
    #plans {
        width: 100%;
        top: 300px;
    }
}


/*Work in progress, planning on improving the experience on larger screens

@media (width >= 1080px) {
    #reviewCarousel {
        width: 100%;
    }
}
*/
