/* Google fonts link */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');


/* General style */


/*****
** HOMEPAGE **
*****/

/* Header */


/* Main Content */


/* Footer */

.social-links {
    padding-bottom: 20px;
}

.social-links li a i {
    width: 32px;
    height: 32px;
    padding: 12px 0;
    border-radius: 50%;
    font-size: 13px;
    line-height: 7px;
    text-align: center;
    color: #fafafa;
    background: #8f8f8f;
    transition: all 0.35s ease-in-out;
    -moz-transition: all 0.35s ease-in-out;
    -webkit-transition: all 0.35s ease-in-out;
    -o-transition: all 0.35s ease-in-out;
}

.social-links li a i:hover {
    background: #e79a0b;
}

#footer-details {
    padding: 20px;
}



/*****
** BOOKING PAGE **
*****/



/*****
** CONTACT US PAGE **
*****/



/*****
** ABOUT PAGE **
*****/



/*****
** DESTINATION CATEGORIES PAGE **
*****/



/*****
** PLAN AND PRICING PAGE **
*****/



/*****
** REVIEWS PAGE **
*****/



/*****
** TRAVEL TIME PAGE **
*****/



/*****
** TRAVEL TIPS PAGE **
*****/



/*****
** MEDIA QUERIES **
*****/