/* Google fonts link */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');


/* General style */
*{
    margin: 0;
    padding: 0;
}

html, body{
    width: 100vw;
    overflow-x: hidden!important;
}

.container-fluid{
    width: 100vw;
    margin-right: 20px;
    margin-left: 20px;
}
/*****
** SECTION STYLING **
*****/
.section-title{
    font-size: 35px;
    margin: 30px;
    margin-left: 30px;
    display: inline-block;
    position: relative;
    padding-left: 37px;
}
.section-title .section-number{
    position: absolute;
    font-weight: 700;
    font-size: 16px;
    top: 0;
    left: 0;
    color: #333333;
}

.section-title .section-number::after{
    content: "";
    display: block;
    width: 3px;
    height: 38px;
    background: #000000;
    margin: 10px auto 0;
}

.section-number{
    color: #000;
}
.section-title .small-text{
    display: block;
    letter-spacing: 0.4em;
    font-size: 14px;
    color: #333333;
}
.section-title .big-text{
    letter-spacing: 0.03em;
    display: block;
    color: #000000;
    text-transform: uppercase;
}


/*****
** HOMEPAGE **
*****/

/* Header */
.header-section {
    width: 100vw;
    min-height: 600px;
    position: absolute;
    background-position: center;
    z-index: -99;
    animation: slideBackground 100s infinite;
}

#header-id{
    min-height: 600px;
}

.nav-menu-item, .nav-item{
    font-size: 1.2em;
    font-weight: 500;
    color:#001F3F;
    text-decoration: none;
}

.nav-menu-item:hover, .nav-item:hover{
    font-size: 1.5em;
    font-weight: 300;
    color:#6292c3;
    text-decoration: none;
}
.dropdown-item, #menu-items{
    font-size: 1.05em;
    font-weight: 400;
    color:#001F3F
}

.dropdown-item:hover, #menu-items:hover{
    font-size: 1.10em;
    font-weight: 300;
    color:#69a2db
}

.booking{
color: red;
animation: heartbeat 2s infinite;
}

@keyframes heartbeat {
    0% {
transform: scale(1)
    }
    50% {
transform: scale(1.1)
    }
    100% {
        transform: scale(1)
    }
}

@keyframes slideBackground {
    0% {
        background-image: url("/assets/images/sky2.jpg");
    }
    33.33% {
        background-image: url("/assets/images/sky.jpg");
    }
    66.66% {
        background-image: url("/assets/images/sky3.jpg");
    }
    100% {
        background-image: url("/assets/images/sky2.jpg");
    }
}

hr{
    margin-top: 0;
}

/* Main Content */

.hidden-text {
    opacity: 0;
}

.carousel-control-prev-icon {
    margin-right: 30px;
    filter: invert(100%);
}

.carousel-control-next-icon {
    
    filter: invert(100%);
    margin-left: 55px;
}

/* Footer */

.social-links {
    padding-bottom: 20px;
}

.social-links li a i {
    width: 32px;
    height: 32px;
    padding: 12px 0;
    border-radius: 50%;
    font-size: 13px;
    line-height: 7px;
    text-align: center;
    color: #fafafa;
    background: #8f8f8f;
    transition: all 0.35s ease-in-out;
    -moz-transition: all 0.35s ease-in-out;
    -webkit-transition: all 0.35s ease-in-out;
    -o-transition: all 0.35s ease-in-out;
}

.social-links li a i:hover {
    background: #e79a0b;
}

#team{
    margin-top: 10%;
}

#footer-details {
    padding: 20px;
}

/*Teams Section */
.teams-card{
    width: 350px;
    height: 500px;
    perspective: 1000px;
}

.card-inner{
    width: 100%;
    height: 100%;
    transition: transform 2s;
    transform-style: preserve-3d;
}

.teams-card:hover .card-inner{
    transform: rotateY(180deg);
}
.card-img, .card-details{
    width: 100%;
    height: 100%;
    position: absolute;
    backface-visibility: hidden; /* Hide backface to prevent flickering */
}

.card-details{
    transform: rotateY(180deg);
}

/*****
** BOOKING PAGE **
*****/



/*****
** CONTACT US PAGE **
*****/



/*****
** ABOUT PAGE **
*****/



/*****
** DISCOVER PLACES PAGE **
*****/
#active-slide-indicator{
    display: inline-block;
}

#active-slide-indicator span{
    width: 10px !important;
    height: 10px !important;
    background-color: white;
    border: 1px solid black;
    border-radius: 50%;
    margin: 0 5px;
    display: inline-block;
}

#active-slide-indicator span.active{
    background-color: #000;
}




/*****
** PLAN AND PRICING PAGE **
*****/

.card-header {
    font-weight: bold;
}

#plans {
    background: rgba(255, 255, 255, 0.85); /* Semi-transparent background so it looks good with hero image */
    border-radius: 8px; /* Rounds corners */
    width: 90%; 
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); /* Received help from StackOverFlow to solve centering issue */
}
    .card-header {
        background-color: #054085;
        color: white;
    }

    .card {
        margin-bottom: 20px; /* Adds space between cards */
    }





/*****
** REVIEWS PAGE **
*****/



/*****
** TRAVEL TIME PAGE **
*****/



/*****
** TRAVEL TIPS PAGE **
*****/



/*****
** MEDIA QUERIES **
*****/

  @media (max-width: 768px) {
    #plans {
        width: 100%;
        top: 300px;
    }
}
@media (min-width: 768px) {
    html, body{
        overflow-x: hidden;
    }

    #plans {
        width: 100%;
        top: 300px;
    }
}
